Repository ytti/oxidized, pull requests merged in 2018-10, with the labels that each got.

#1561 add support to space in hostname in procurve prompt
  lib/oxidized/model/procurve.rb
Labels: device_model, enhancement

#1576 Create adtran.rb
  CHANGELOG.md
  docs/Supported-OS-Types.md
  lib/oxidized/model/adtran.rb
Labels: device_model, user_pending

#1575 model/tplink.rb: remove password in clear text for older TPLink models (#1574)
  lib/oxidized/model/tplink.rb
Labels: device_model, enhancement, user_pending

#1590 Updated README.md
  README.md
Labels: documentation
