Repository ytti/oxidized, pull requests merged in 2018-05, with the labels that each got.

#1323 Initial OpenWrt support
  CHANGELOG.md
  docs/Supported-OS-Types.md
  lib/oxidized/model/openwrt.rb
Labels: device_model

#1331 Added removal of secrets to pfsense
  lib/oxidized/model/pfsense.rb
Labels: device_model, enhancement

#1334 Fix debug mode, properly comment NX-OS configs and normalize their line endings.
  bin/oxidized
  lib/oxidized/model/nxos.rb
Labels: device_model, enhancement

#1338 reduce logspam - auth methods are debug, not info
  lib/oxidized/input/ssh.rb
Labels: bug, input

#1339 relax asyncos prompt requirements (closes #1272)
  lib/oxidized/model/asyncos.rb
Labels: bug, device_model

#1336 Create stoneos.rb
  CHANGELOG.md
  docs/Supported-OS-Types.md
  lib/oxidized/model/stoneos.rb
Labels: device_model

#1340 Enable 'enable' support for HP Procurves
  CHANGELOG.md
  lib/oxidized/model/procurve.rb
Labels: device_model, enhancement

#1346 Comnet Microsemi Switch support
  docs/Supported-OS-Types.md
  lib/oxidized/model/comnetms.rb
Labels: device_model, user_pending
