Repository ytti/oxidized, pull requests merged in 2018-06, with the labels that each got.

#1356 Create openbsd.rb
  .rubocop_todo.yml
  CHANGELOG.md
  docs/Supported-OS-Types.md
  lib/oxidized/model/openbsd.rb
Labels: device_model

#1250 Rework the Exclusions for FortiOS
  lib/oxidized/model/fortios.rb
Labels: device_model, user_pending

#1359 Remove more JunOS secrets
  CHANGELOG.md
  lib/oxidized/model/junos.rb
Labels: device_model, enhancement
