Repository ytti/oxidized, pull requests merged in 2018-09, with the labels that each got.

#1471 Require openssl for use of 'OpenSSL::SSL...' constants
  lib/oxidized/source/http.rb
Labels: enhancement, input, user_pending

#1507 Add comtrol model
  CHANGELOG.md
  docs/Supported-OS-Types.md
  lib/oxidized/model/comtrol.rb
Labels: device_model, user_pending

#1529 Bump Dockerfile to phusion/baseimage v0.11
  CHANGELOG.md
  Dockerfile
Labels: enhancement, needs_testing

#1532 Sudo for cumulus
  CHANGELOG.md
  lib/oxidized/model/cumulus.rb
Labels: device_model, enhancement

#1483 added support for config mode to prompt regex
  lib/oxidized/model/powerconnect.rb
Labels: device_model, enhancement, user_pending

#1556 adding more gsubs for removing sensitive config on FTOS/DNOS
  lib/oxidized/model/ftos.rb
Labels: device_model, enhancement

#1551 add https proxy info in slackdiff and ciscosparkdiff hook docs
  docs/Hooks.md
Labels: documentation, enhancement
