Repository ytti/oxidized, pull requests merged in 2018-04, with the labels that each got.

#1259 List hooks in README ToC
  README.md
Labels: documentation

#1268 model/netgear.rb support for older models
  docs/Model-Notes/Netgear.md
  docs/Model-Notes/README.md
  lib/oxidized/model/netgear.rb
Labels: device_model

#1238 Alter DNOS config. Remove constantly changing info
  lib/oxidized/model/dnos.rb
Labels: device_model

#1175 Added support for setting ssh auth methods
  docs/Configuration.md
  docs/Model-Notes/EOS.md
  docs/Model-Notes/README.md
  lib/oxidized/input/ssh.rb
  lib/oxidized/worker.rb
  spec/input/ssh_spec.rb
Labels: enhancement

#1322 Update boss.rb
  lib/oxidized/model/boss.rb
Labels: device_model

#1324 make opengear prompt mandatory (closes #722)
  lib/oxidized/model/opengear.rb
Labels: bug, device_model
