Repository ytti/oxidized, pull requests merged in 2019-02, with the labels that each got.

#1694 make regex for enable on powerconnect less specific to fix potential …
  lib/oxidized/model/powerconnect.rb
Labels: device_model, enhancement, user_pending

#1701 Create tdre.rb
  CHANGELOG.md
  docs/Supported-OS-Types.md
  lib/oxidized/model/tdre.rb
Labels: device_model, user_pending

#1681 Ignore bandwidth usage on F5 bigip version 14
  lib/oxidized/model/tmos.rb
Labels: device_model, enhancement

#1659 Cisco VPN3000 & NetGear Smart switches support
  CHANGELOG.md
  docs/Supported-OS-Types.md
  lib/oxidized/model/ciscovpn3k.rb
  netgearxs716.rb
Labels: device_model, user_pending
